## Traffic Data 
### Post-Processing of a csv file to increase efficiency in Data Entry
- This python notebook is used to post process data entry on a csv file. The data was collected on a paper form and was manually entered into a csv file.
- I identified that there are some constant values in the form that could be recored easily using python which are:

   - **'Date'**: the date the survey was conducted
   - **'Direction'**: the direction of traffic that was recorded
   - **'Time'**: the time the vehicle was recored to the nearest 5 mins (there were muliply values for the same time)

In [1]:
import pandas as pd # importing the pandas library

In [2]:
traffic_data = pd.read_csv('raw_data.csv')  #read the csv file into a pandas dataframe
traffic_data.head() #display the first 5 rows of the dataframe

    Type Occupancy Gender
0    van         3      m
1  lorry         2      m
2    car         2      m
3   taxi         2      f
4    car         1      m

In [3]:
#insert the constant date value '25-10-2022' into a new column 'Date' and position the column as the first column
traffic_data.insert(0, 'Date', '25-10-2022' )

#insert an empty column 'Time' and position the column as the 2nd column
traffic_data.insert(1, 'Time', '')

#insert the constant value 'out' into a new column 'Direction' and position the column as the 3rd column
traffic_data.insert(2, 'Direction', 'out')

In [4]:
range(len(traffic_data)) #checking for the range of the length of rows in the dataframe

range(0, 50)

In [5]:
#create an empty list then append and assign the values of the list using the conditions of the index position
time = []
for i in range(len(traffic_data)): #for loop iterates between the length of the rows in the dataset
    if i < 4: time.append('10.30am') # create the conditions that will be used to assign values to the column
    elif i < 14: time.append('10.35am')
    elif i < 27: time.append('10.40am')
    elif i < 31: time.append('10.45am')
    elif i < 38: time.append('10.50am')
    elif i == 38: time.append('10.55am')
    elif i < 50: time.append('11.00am')
    else: break # end when the conditions are not met

In [6]:
traffic_data['Time'] = time #convert the 'time' list into the column 'Time' in the dataframe
traffic_data

          Date     Time Direction   Type Occupancy Gender
0   25-10-2022  10.30am       out    van         3      m
1   25-10-2022  10.30am       out  lorry         2      m
2   25-10-2022  10.30am       out    car         2      m
3   25-10-2022  10.30am       out   taxi         2      f
4   25-10-2022  10.35am       out    car         1      m
5   25-10-2022  10.35am       out    car         1      f
6   25-10-2022  10.35am       out  lorry         1      m
7   25-10-2022  10.35am       out    car         1      m
8   25-10-2022  10.35am       out    car         2      f
9   25-10-2022  10.35am       out    bus     empty      m
10  25-10-2022  10.35am       out    bus     empty      m
11  25-10-2022  10.35am       out    car         3      m
12  25-10-2022  10.35am       out    car         2      m
13  25-10-2022  10.35am       out    car         2      m
14  25-10-2022  10.40am       out    car         2      m
15  25-10-2022  10.40am       out    car         1      f
16  25-10-2022  10.40am       out   taxi         1      m
17  25-10-2022  10.40am       out    car         1      m
18  25-10-2022  10.40am       out    bus     empty      m
19  25-10-2022  10.40am       out    car         2      m
20  25-10-2022  10.40am       out    car         1      m
21  25-10-2022  10.40am       out    bus     empty      m
22  25-10-2022  10.40am       out    car         2      f
23  25-10-2022  10.40am       out    car         2      f
24  25-10-2022  10.40am       out    car         1      f
25  25-10-2022  10.40am       out   taxi         3      m
26  25-10-2022  10.40am       out    van         1      m
27  25-10-2022  10.45am       out    car         1      f
28  25-10-2022  10.45am       out    car         1      m
29  25-10-2022  10.45am       out    car         1      m
30  25-10-2022  10.45am       out    bus     empty      m
31  25-10-2022  10.50am       out  lorry         1      m
32  25-10-2022  10.50am       out    bus     empty      m
33  25-10-2022  10.50am       out    van         3      m
34  25-10-2022  10.50am       out    car         1      f
35  25-10-2022  10.50am       out    car         1      m
36  25-10-2022  10.50am       out    car         1      f
37  25-10-2022  10.50am       out    bus     empty      m
38  25-10-2022  10.55am       out    bus    medium      m
39  25-10-2022  11.00am       out    car         2      m
40  25-10-2022  11.00am       out    car         2      f
41  25-10-2022  11.00am       out    car         1      m
42  25-10-2022  11.00am       out   taxi         1      m
43  25-10-2022  11.00am       out    car         1      f
44  25-10-2022  11.00am       out   taxi         1      m
45  25-10-2022  11.00am       out    car         1      f
46  25-10-2022  11.00am       out  other         1      m
47  25-10-2022  11.00am       out    car         1      f
48  25-10-2022  11.00am       out    bus    medium      m
49  25-10-2022  11.00am       out    car         1      m

In [7]:
traffic_data.to_csv('complete_data.csv', index = False) #save the dataframe to a csv file format

In [8]:
traffic_data.loc[[6]] #display a row from the dataframe

         Date     Time Direction   Type Occupancy Gender
6  25-10-2022  10.35am       out  lorry         1      m